* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}

header span{
  display: flex;
  justify-content: center;
}

nav{
  margin: 0 auto;
  width: 85%;
  height: 60px;
  line-height: 60px;
  box-shadow: none;
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: #F44336;
}

.root{
  margin: 0;
}

.container-header{
  background-color: #F44336;
  padding: 12px;
}

.containerMap{
  height: 60vh;
  background-color: green;
}
