* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}

header span{
  display: flex;
  justify-content: center;
}

nav{
  margin: 0 auto;
  width: 85%;
  height: 60px;
  line-height: 60px;
  box-shadow: none;
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: #F44336;
}

.root{
  margin: 0;
}

.container-header{
  background-color: #F44336;
  padding: 12px;
}

.map{
  height: 60vh;
}

#cardGrifo .card-panel{
  margin: 0;
  padding: 17px;
  color: #000;
  background-color: #fff !important;
  box-shadow: none;
  border-bottom: 1px solid #c3c3c3;
}

#cardGrifo h5{
  font-size: 1.8rem;
  line-height: 100%;
  font-weight: 500;
}

#cardGrifo p{
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2;
}